body {
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header h1 {
    text-align: center;
    padding: 10px;
}

article {
    width: 400px;
    border: 4px solid white;
    border-radius: 10px;
    margin: 10px 12px;
}

article > h2 {
    color: grey;
    padding: 4px 8px;
}

article:first-of-type {
    border: 4px solid grey;
}

#inprogress {
    border-color: red;
}

#inprogress h2 {
    color: red;
}

#done {
    border-color: green;
}

#done h2 {
    color: green;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.2);
}


.inprogress li:nth-child(odd){
    background-color: rgba(255, 0, 0, 0.5);
}

.done li:nth-child(odd){
    background-color: rgba(0, 255, 0, 0.5);
}