body {
    margin: 0;
    padding: 0;
    font-family: 'Sanchez', serif;
    background-image: url("../images/notebook.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-header {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-decoration: underline;
}

article {
    padding-left: 40px;
    padding-right: 40px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 8px 0;
    font-size: 18px;
}

.inprogress input[type="checkbox"]:checked + span {
    color: #e39904;
    font-weight: bold;
}

.inprogress input[type="checkbox"]:checked + span::after {
    content: " ➜";
    color: #e39904;
    margin-left: 6px;
}

.done input[type="checkbox"]:checked + span {
    color: #2e7d32;
    font-weight: bold;
    text-decoration: line-through;
}

.done input[type="checkbox"]:checked + span::after {
    content: "✅";
    color: #2e7d32;
    font-size: 20px;
    margin-left: 8px;
}
